{% extends "Main/base.html" %}

{% block content %}

<div class="container" >
  <br><br>
  <div class="row justify-content-center">
    <!--<div class="col-">-->
    <div class="col-10">
      <div class="row justify-content-center">
        <!--<div class="col-">-->
        <div class="col-12">
            <h2> 2019 - 2020 Executive Board </h2>
            <p><hr>
        </div>
        {% for e in exec %}
            <div class="col-12">
              <h5> {{ e.exec2.name }} </h5>
            </div>

            {% if e.isValidPicture %}
                <div class="col-9">
                    {% for a in e.about %}
                      <p> {{ a}} </p>
                    {%endfor%}
                </div>
                <div class="col-3">
                    <img src="/static/{{ e.picUrl}}" style="max-width:88%; max-height:88%;
                      -webkit-transform: rotate({{e.exec2.imageRotation}}deg);
                      -moz-transform: rotate({{e.exec2.imageRotation}}deg);
                      -o-transform: rotate({{e.exec2.imageRotation}}deg);
                      -ms-transform: rotate({{e.exec2.imageRotation}}deg);
                      transform: rotate({{e.exec2.imageRotation}}deg);">
                </div>

            {% else %}
                <div class="col-12">
                    {% for a in e.about %}
                      <p> {{ a}} </p>
                    {%endfor%}
                </div>
            {% endif %}

            <div class="col-12">
              {% if e.isValidEmail %}
                <p> Email: {{ e.exec2.email }} </p>
              {% endif %}
              <p><hr>
            </div>
        {% endfor %}



    </div>
  </div>
</div>
{% endblock content %}
